*{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272823;
    color: white;
    height: 70px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    /* background-color: red; */
    width: 50vw;
    padding: 33px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.logo{
    padding: 0 11px;
}

.logo img{
    width: 31px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}
