*{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272833;
    color: white;
    height: 78px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    /* background-color: red; */
    width: 90vw;
    padding: 30px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
strong{
    font-size:25px;
}
.logo{
    padding: 0 13px;
}

.logo img{
    width: 38px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}
