*{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: black;
    height: 72px;
}

.content{
    font-family: 'Potta One';
}

.container{
    width: 80vw;
    padding: 32px 0;
    margin: auto;
    font-family: calibri;
    font-size: 20px;
}

.logo{
    padding: 0 13px;
}

.logo img{
    width: 64px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}
